<robot name="sphere">
  <!-- Sphere Link -->
  <link name="link">
    <!-- Inertial properties -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1.0" />
      <inertia ixx="0.02" iyy="0.02" izz="0.02" ixy="0.0" ixz="0.0" iyz="0.0" />
    </inertial>
    
    <!-- Visual representation -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.05" />
      </geometry>
      <material name="blue">
        <color rgba="0.2 0.2 0.7 1" />
      </material>
    </visual>

    <!-- Collision geometry -->
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.05" />
      </geometry>
    </collision>
  </link>
  <gazebo>
    <plugin name="gazebo_ros_state" filename="libgazebo_ros_state.so">
      <ros>
        <namespace>/gazebo</namespace>
      </ros>
    </plugin>
  </gazebo>
</robot>
